html {/*98. stiliziramo KRAJ */
    scroll-behavior: smooth;
}

body { /*2. stiliziramo*/
    margin: 0px;
    padding: 0px;
    font-family: calibri, sans-serif;
}

 .header { /*19. stiliziramo i otvaramo html fajl*/
    border-bottom: 2px solid #dc0101;
    background-color: #fefefe;
}

/*.page {
    border: 1px solid black;
}

.footer {
    border: 1px solid black;
} */

.column {/*3. stiliziramo*/
    /*border: 1px solid black;*/  /*22. stavljamo pod komentar*/
    width: 1000px;
    margin: 0px auto;
}

.page .column { /*4. stiliziramo i otvaramo html fajl*/
    height: 100vh;
}


#logo-i-social { /*7. stiliziramo*/
    display: flex;
}

#logo-holder { /*8. stiliziramo*/
    flex-grow: 1; /*zauzimat ce pola rasplozive sirine diva*/
}

#logo-holder img {/*ovo sam ja dodao*/
    width: 250px; 
    height: 80px;
    background-size: cover;
}

#social-holder { /*9. stiliziramo i otvaramo html fajl*/
    flex-grow: 1;
    text-align: right;
}

#social-holder a { /*23.stiliziramo*/
    text-decoration: none;
}

#social-holder a img {/*22.stiliziramo*/
    padding: 5px;
    width: 24px;
    height: 24px;
}

#main-menu { /*14. stiliziramo*/
   display: flex;
}

#main-menu a { /*15. stiliziramo*/
    flex-grow: 1;
    text-align: center;
    display: block;
    padding: 10px 0;
    text-decoration: none;
    color: #dc0101;
    transition: 400ms;
}

#main-menu a:hover, /*16. stiliziramo i otvaramo html fajl*/
#main-menu a.active{ /*18. dodajemo a.active i otvaramo html fajl*/
     background: #dc0101;
     color: #fff;
}

#pocetna {/*20. stiliziramo*/
    text-align: center;
    color:#fff;
    background: url('../osnove_html_css_javascript/assets/img/pozadine/bg01.jpg'); /*23. dodajemo pozadinu*/
    background-size: cover;
    background-attachment: fixed; /*25. dodajemo i otvaramo html fajl*/
}

#pocetna h1 {/*21. stiliziramo*/
    font-size: 48pt;
    margin-top: 0px; /*24. dodajemo marginu i padiranje*/
    padding-top: calc(50vh - 250px);
}

.dark-box {/*22. stiliziramo*/
    background-color: #33333350;
    border: 1px solid #fff;
    font-size: 24pt;
    padding: 40px;
}

#usluge {/*28. stiliziramo i otvaramo html fajl*/
    background: url('../assets/img/pozadine/bg02.jpg'); 
    background-size: cover;
    background-attachment: fixed; 
}

#karijera {/*32. stiliziramo i otvaramo html fajl*/
    background: url('../assets/img/pozadine/bg03.jpg'); 
    background-size: cover;
    background-attachment: fixed; 
}

.align-center {/*34. stiliziramo i otvaramo html fajl*/
    text-align: center;
}

.krugovi {/*41. stiliziramo*/
    display: flex;
    margin: 50px 0;
}

.krug-holder {/*42. stiliziramo*/
   flex-grow: 1;
}

.krug {/*43. stiliziramo*/
    background: #dc0101;
    color:#fff;
    font-size: 40px;
    font-weight: bold;
    display: inline-block;
    padding: 25%;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.oznaka {/*44. stiliziramo*/
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}

.tehnologije {/*45. stiliziramo*/
    display: flex;
    margin: 50px 0;
}

.tehnologija {/*46. stiliziramo*/
    flex-grow: 1;
    text-align: center;
}

.tehnologija img {/*47. stiliziramo*/
    width: 48px;
    height: 48px;
}

.tehnologija p {/*48. stiliziramo*/
   font-weight: bold;
}

#usluge {/*51. stiliziramo*/
    background: url('../osnove_html_css_javascript/assets/img/pozadine/bg02.jpg'); 
    background-size: cover;
    background-attachment: fixed;
    color:#fff;
}

#usluge h2 { /*52. stiliziramo */
    padding-top: 40px;
}

.service-row { /*53. stiliziramo*/
    display: flex;
    margin-bottom: 40px;
    justify-content: space-between;
}

.service-row > div {/*54. stiliziramo*/
    text-align: center;
    position: relative;
    width: 230px;
    height: 260px;
    border: 1px solid #fff;
}

.service-row > div > img {/*55. stiliziramo*/
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.service-row > div > p { /*56. stiliziramo i otvaramo html fajl*/
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 10px;
    background-color: #ffffffA2;
    color:#000;
    margin-bottom: 0px;
    font-weight: bold;
    border-top: 1px solid #fff;
}

#proizvodi {
  max-height: 100vh;
  margin-bottom: 10rem; /*dodao sam donju marginu*/
}

#proizvodi h2{ /*58. stiliziramo*/
    padding-top: 50px;
    text-align: center;
}

/* .page {
    max-width: 80%;
} */

.matrica { /*59. stiliziramo i otvaramo html fajl*/
    margin-top: 40px;
    height: 700px;
    display: grid;
    grid-template: "a b c"
                   "d b e"
                   "f f g";
    align-content: space-between;
    justify-content: space-between;
    gap: 20px;
}

/* .matrica img {
    width: 400px;
    height: 400px;
} */

#proizvod-a {/*61. stiliziramo*/
    grid-area: a;
}

#proizvod-b {
    grid-area: b;
}

#proizvod-c {
    grid-area: c;
}

#proizvod-d {
    grid-area: d;
}

#proizvod-e {
    grid-area: e;
}

#proizvod-f {
    grid-area: f;
}

#proizvod-g {
    grid-area: g;
}

.proizvod { /*62. stiliziramo*/
    display: grid;
    grid-template: "region";
    align-content: stretch;
    justify-content: stretch;
}

.proizvod img { /*63. stiliziramo*/
    grid-area: region;
    justify-self: stretch;
    align-self: stretch;
    width: 100%; /*morao sam ovdje dodati sirinu 100posto*/
}

.proizvod span { /*64. stiliziramo i otvaramo html fajl*/
    grid-area: region;
    justify-self: stretch;
    align-self: stretch;
}

.proizvod .text-holder {/*65. stiliziramo*/
    grid-area: region;
    justify-self: stretch;
    align-self: stretch;
    display: grid;
    align-content: center;
    justify-content: stretch;
    font-size: 20px;
    font-weight: bold;
    background-color: #dc0101DD;
    color: #fff;
    opacity: 0.0;
    transition: 500ms;
}

.proizvod:hover .text-holder{ /*66. stiliziramo i otvaramo html fajl*/
    opacity: 1.0;
}

#karijera {/*72. stiliziramo*/
    background: url('../osnove_html_css_javascript/assets/img/pozadine/bg03.jpg'); 
    background-size: cover;
    background-attachment: fixed;
}

#karijera {
    margin-top: 20rem; /*dodao sam gornju marginu*/
}

#karijera h2 {
    padding-top: 50px; /*71.stiliziramo i otvaramo html fajl*/
    text-align: center;
}

.career-columns {/*68.stiliziramo*/
    display: flex;
}

.job-list { /*69.stiliziramo*/
    flex-grow: 1;
    flex-basis: 0;
}

.job-descriptions {/*70.stiliziramo*/
    flex-grow: 2;
    flex-basis: 0;
}

.job-list label { /*75. stiliziramo*/
   display: block;
   margin-bottom: 10px;
   border: 1px solid #fff;
   background-color: #ffffffc0;
   padding: 10px;
   font-weight: bold;
   font-size: 20px;
}

.job-descriptions input {/*76. stiliziramo*/
    display: none;
}

.job-descriptions .job-description {/*77. stiliziramo*/
    display: none;
}

.job-descriptions input:checked + .job-description {/*78. stiliziramo*/
    display: block;
}

.job-description { /*79. stiliziramo i otvaramo html fajl*/
    margin-left: 10px;
    border: 1px solid #fff;
    background-color: #ffffffc0;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
}

#kontakt h2 {/*82.stiliziramo*/
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
}

.kontakt-region {/*83.stiliziramo*/
    display: grid;
    grid-template: "adrese mapa"
                   "mejlovi mapa";
    grid-template-columns: 300px 1fr;
}

.kontakt-adrese { /*84.stiliziramo i otvaramo html fajl*/
    grid-area: adrese;
    padding-bottom: 15px;
    font-size: 14px;
}

.kontakt-mejlovi {
    grid-area: mejlovi;
}

.kontakt-mejlovi a {/*86. stiliziramo*/
    text-decoration: none;
    color: #dc0101;
}

.kontakt-mejlovi a:hover {/*87. stiliziramo i otvaramo html fajl*/
    text-decoration: underline;
}

.kontakt-mapa {
    grid-area: mapa;
}

.footer {/*89. stiliziramo i otvaramo html fajl*/
    border-top:3px solid #dc0101;
    background-color: #fefefe;
    display: flex;
}

.footer .footer-column {/*91. stiliziramo*/
    flex-grow:1;
    flex-basis: 0;
}

.footer > .column {/*95. stiliziramo*/
    display: flex;
    flex-basis: 0;
    padding-top: 20px;
    padding-bottom: 50px;
}

.align-left {/*92. stiliziramo*/
    text-align: left;
    margin-right: 300px;/*ovo sam ja dodao*/
}

.align-center {/*93. stiliziramo*/
    text-align: center;
}

.align-right {/*94. stiliziramo*/
    /* text-align: center; */
    margin-left: 300px;/*ovo sam ja dodao*/
}

.red-link {/*96. stiliziramo*/
    text-decoration: none;
    color: #dc0101;
}

.red-link:hover {/*97. stiliziramo i skrolamo na pocetak css fajla*/
    text-decoration: underline;
}
